.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 245, 245);
    min-height: 100vh;
    gap: 2rem;
   
    
    .post{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid rgba(210, 209, 209, 0.747);
        border-radius: 3px;

    .top{
        display: flex;
        align-items: center;
        gap: 0.6rem;
        max-width: 100%;
        padding: 0.5rem 1rem;
        
        
        img{
            width: 2rem;
            height: 100%;
            object-fit: cover;
            
        }
        
    }

    .middle {
    width: 100%;
    max-width: 440px; /* optional container width */
    aspect-ratio: 4 / 5;
    overflow: hidden;


img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills the container like Instagram */
    display: block;
    
}

    }
    
    .bottom{
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .icons{
            display: flex;
            gap: 0.5rem;
        }
        .caption{
            display: flex;
            align-items: center;
            gap: 1rem;
            h6{
                font-size: 0.7rem;
                font-weight: 400;
            }
        }
    }
}
}